*{
    margin: 0px auto;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    width: 40%;
    min-width: 400px;
    height: auto;
}

.central{
    width: 80%;
    min-width: 600px;
    height: auto;
}

.titulo{
    width: 100%;
    font-family: helvetica,Arial, sans-serif;
    text-align: center;
    padding: 25px;
}

.formulario{
    width: 60%;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
}

.divLista{
    width: 100%;
    height: auto;
}


ul#ListaTareas {
    width: 60%;
    list-style: none;
    display: flex;
    flex-direction: column;
    font-family: helvetica,Arial, sans-serif;
    
    > li{
        width: 100%;
        margin: 5px 0px;
        display: flex;
        flex-direction: row;
        border: 1px solid black;
        padding: 10px;
        div{
            display: flex;
            flex-direction: row;
            align-items:center;
            justify-content: space-between;
            input[type=checkbox]{
                margin-right: 10px;
            }
            input:checked + p{
                text-decoration: line-through;
            }
            p{
                color:#000;
                padding: 0px;
            }
           
        }
        #boton{
            padding: 0px;
        }
    }
}
