*{
    margin: 0px auto;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    width: 50%;
    height: 600px;
    background: blue;
}

.central{
    width: 100%;
    height: auto;
    background: brown;
}

.titulo{
    width: 100%;
    border: 1px solid black;
    text-align: center;
    padding: 25px;
}
.formulario{
    width: 100%;
    text-align: center;
    border: 1px solid black;
    padding: 20px;
}

.divLista{
    width: 100%;
    height: auto;
    background: red;
}

.lista{
    list-style: none;
}

