* {
  margin: 0px;
  padding: 0;
}

.contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 512px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
  color: #222222;
  margin: 0px 24px 0px 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px;
}

header h1 {
  text-align: left;
  font-size: 36px;
}

#AddTask {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 512px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#AddTask form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px;
}

#AddTask form #nombreTarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  color: #222222;
  margin-right: 8px;
  padding: 8px;
  border: none;
  background: rgba(34, 34, 34, 0.1);
  border-radius: 4px;
}

#Divider {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 512px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Divider #linea {
  width: 100%;
  margin: 8px;
  background-color: rgba(34, 34, 34, 0.1);
  height: 2px;
}

#Task {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 512px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 8px;
}

#Task ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

#Task ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(34, 34, 34, 0.1);
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
}

#Task ul > li #div-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

#Task ul > li #div-text input[type=checkbox] {
  width: 24px;
  height: 24px;
  outline: 2px solid #222222;
  margin-right: 8px;
}

#Task ul > li #div-text input:checked + p {
  text-decoration: line-through;
}

#Task ul > li #div-text p {
  color: #222222;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  text-align: left;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

#Task ul > li #div-botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
}

#Task ul > li #div-botones button {
  margin-left: 8px;
}

.solo-texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 48px;
  background: transparent;
  border: 1px solid #222222;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 8px 16px 8px 16px;
}

.solo-icono {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 48px;
  background: transparent;
  border: 1px solid #222222;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 48px;
  padding: 8px;
  margin: 0px;
}

.icono-texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 48px;
  background: transparent;
  border: 1px solid #222222;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 8px 16px 8px 16px;
}

.icono-texto .svg {
  margin-right: 8px;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #222222;
  }
  header {
    color: white;
  }
  #AddTask form #nombreTarea {
    color: white;
    background: rgba(255, 255, 255, 0.2);
  }
  .solo-icono, .solo-texto, .icono-texto {
    color: white;
    border-color: white;
  }
  #Task ul > li {
    background: rgba(255, 255, 255, 0.2);
  }
  #Task ul > li #div-text input[type=checkbox] {
    outline-color: white;
  }
  #Task ul > li #div-text p {
    color: white;
  }
  #Divider #linea {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

@media (max-width: 560px) {
  header, #Task {
    width: 100%;
    padding: 8px 24px 0px 24px;
    margin-bottom: 16px;
  }
  header h1, #Task h1 {
    font-size: 32px;
  }
  #AddTask {
    width: 100%;
    margin-bottom: 8px;
  }
  #AddTask form {
    padding: 8px 24px;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
  }
  #AddTask form #nombreTarea {
    width: 50%;
    -webkit-box-flex: none;
        -ms-flex-positive: none;
            flex-grow: none;
  }
  #Divider {
    width: 100%;
    margin-bottom: 8px;
  }
  #Divider #linea {
    margin: 8px 24px 8px 24px;
  }
}
/*# sourceMappingURL=style.css.map */